config/componentVersions/
config/options/appComponentVersions.xml
config/options/browsers.xml
config/options/feature.usage.statistics.xml
config/options/notifications.xml
config/options/options.xml
config/options/other.xml
config/options/path.macros.xml
config/options/plugin_ui.xml
config/options/project.default.xml
config/options/runner.layout.xml
config/options/statistics.application.usages.xml
config/options/usage.statistics.xml
config/options/window.manager.xml
config/plugins/availables.xml
config/port
config/tasks/
system/
